.container {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
}

.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}