.home-container {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    margin: 0 0 !important;
}

#root {
    margin: 0 0 !important;
}

.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 16%;
}

.content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

div:not(.home-container) {
    margin: 8px;
}

.welcome-screen {
    display: flex;
    align-items: center;
    flex: 1;
    flex-direction: column;
    justify-content: center;
}

.welcome-screen .example-prompts {
    display: flex;
    flex-direction: row;
}

.welcome-screen .example-prompts .example-prompt-button {
    display: block;
    white-space: normal;
    height: auto;
    margin: 8px;
    max-width: 200px;
    line-height: 1.35;
}

.message-list-container {
    max-width: 720px;
}

.compose-message-container {
    width: 100%;
    max-width: 720px;
    display: flex;
}

.message-text {
    display: flex;
    width: 100%;
}

.message-text textarea {
    width: 100%;
}

.message-send {
    display: flex;
}

.message-send button {
    height: 100%;
}

.user-details .username {
    text-overflow: ellipsis;
    overflow: hidden;
}

.message-list {
    overflow-y: auto;
    max-height: calc(100vh - 246px);
}

.message-list-item {
    border-radius: 4px;
    padding: 4px;
}

.message-list-item.response {
    border: 1px solid #e3f4fc;
    background: aliceblue;
}

.thread-list {
    overflow-y: auto;
    max-height: calc(100vh - 134px);
}

.thread-list-item button {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    display: block;
    text-overflow: ellipsis;
}

.thread-list-item button.selected {
    background: #f9f9f9;
    border-color: #d0d2d7;
}