.sign-in-container {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.email-input {
  width: 100%;
  max-width: 288px;
  margin-bottom: 8px;
}

.password-input {
  width: 100%;
  max-width: 288px;
  margin-bottom: 24px;
}